<a href="https://colab.research.google.com/github/Balajinanda/Datascience-Project/blob/main/Data_Science_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import zipfile
import os

# Define the path to your zip file
zip_file_path = '/content/opportunity+activity+recognition.zip'
extract_dir = 'extracted_dataset/'

# Extract the zip file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extract_dir)

# Check the extracted files
extracted_files = os.listdir(extract_dir)
print(extracted_files)

['OpportunityUCIDataset']

In [2]:
# Example for reading a text-based .dat file
file_path = '/content/extracted_dataset/OpportunityUCIDataset/dataset/S1-ADL1.dat'

# Load the .dat file assuming it's a space-separated text file (adjust separator as needed)
with open(file_path, 'r') as file:
    data = file.readlines()

# Check the first few lines of the file
for line in data[:5]:
    print(line)

0 87 975 -287 11 1001 163 95 975 152 195 950 339 249 1008 99 62 924 -326 209 973 -41 -362 844 396 -237 1039 89 -345 885 329 -126 932 374 NaN NaN NaN -983 -199 119 -166 -50 70 483 -499 42 617 -475 457 430 -1016 -18 78 -189 -158 70 356 -242 -552 210 -635 136 731 -870 532 137 305 90 471 262 -26 -682 219 607 -84 -760 -982 114 5 -154 39 17 354 -338 582 673 -135 699 198 -920 -358 171 -145 47 48 389 202 593 741 -98 641 -172 119 -28 4 256 45 -142 -319 604 -953 -226 -876 2319 -876 226 2319 -76 83 -20 17 3 1 70 -219 319 -845 -20 57 42 57 20 42 175 281 -921 265 417 415 -72 682 -778 414 411 132 -862 508 420 427 46 -29 -995 415 418 -107 -771 -595 417 400 816 -114 -537 412 413 -44 24 -1004 413 417 -520 -90 880 419 419 200 -875 651 425 410 -57 47 -990 413 411 437 34 907 412 414 81 -972 236 416 414 0 0 0 0 0 0 0 0 0 0 0 0 0 1000 -63 19 -244 0 -960 -973 15 21 -1000 -68 -10 NaN NaN NaN 39 -86 -1010 40 39 -1080 -1008 32 -1023 5762 2685 1265 5858 2707 1134 6294 2663 1533 5789 2907 1447 0 0 0 0 0 0 0

33 124 978 -389 -7 1014 199 124 968 123 226 934 348 272 963 97 68 938 -358 245 956 -93 -404 756 570 -197 1076 82 -339 901 297 -108 932 317 NaN NaN NaN -986 -220 114 -170 -31 103 479 -500 40 615 -476 457 432 -1010 -3 56 -445 -41 115 352 -236 -557 201 -637 132 732 -881 619 268 -841 180 539 264 -25 -678 238 605 -79 -756 -997 129 -10 -224 54 31 352 -344 581 672 -137 699 200 -942 -357 161 -318 -6 23 390 196 597 741 -101 642 -169 124 -28 4 -81 -15 60 20 421 -845 32 -1217 1739 -1217 -32 1739 -164 83 -20 17 0 -3 68 -215 325 -847 -17 38 31 38 17 31 175 283 -914 270 417 415 -72 684 -770 413 409 114 -863 499 420 428 38 -22 -1011 415 418 -98 -771 -585 416 400 828 -127 -558 413 412 -26 24 -1024 414 415 -505 -93 875 418 419 200 -861 627 425 411 -58 47 -1000 413 411 431 54 908 412 414 90 -950 196 416 416 0 0 0 0 0 0 0 0 0 0 0 0 0 990 -63 19 -251 3 -970 -996 16 14 -1009 -68 -30 NaN NaN NaN 39 -86 -989 40 39 -1070 -1014 25 -1014 5756 2685 1267 5905 2708 1155 6294 2664 1532 5789 2908 1443 0 0 0 0 0 0 0

67 102 996 -440 -49 1024 193 127 1001 113 280 920 330 213 1017 116 73 969 -365 277 929 -69 -559 830 672 -205 1106 76 -320 923 280 -74 974 395 NaN NaN NaN -987 -227 112 -169 -7 111 477 -502 34 613 -477 456 434 -1017 13 108 -670 -33 225 352 -228 -562 190 -639 126 734 -871 373 230 -1483 247 394 267 -2 -674 257 601 -63 -754 -1009 79 -22 -307 127 52 350 -348 578 670 -141 700 204 -928 -357 143 -426 13 49 392 192 598 741 -105 643 -165 126 -28 4 -95 -11 -13 16 440 -917 23 -551 1129 -551 -23 1129 -156 84 -20 17 3 -5 62 -219 328 -852 27 31 15 31 -27 15 175 281 -915 259 418 415 -72 684 -770 414 410 151 -867 500 421 429 43 -19 -1013 415 419 -117 -771 -587 415 401 829 -144 -547 413 412 -45 20 -1014 415 416 -490 -102 871 419 415 200 -860 682 426 412 -76 46 -1000 415 411 442 52 912 412 414 70 -962 204 416 415 0 0 0 0 0 0 0 0 0 0 0 0 0 990 -63 19 -255 9 -970 -990 38 -20 -1000 -58 -20 NaN NaN NaN 39 -86 -989 30 49 -1070 -1000 29 -1010 5757 2685 1268 5948 2710 1175 6295 2664 1531 5789 2910 1440 0 0 0 0 0 0 0

100 59 861 -384 -9 1023 202 110 1007 106 360 886 298 234 1028 120 86 961 -358 245 958 -76 -605 939 543 -179 1096 114 -358 914 301 -84 958 286 NaN NaN NaN -974 -209 104 -100 -27 125 478 -505 33 611 -478 456 436 -1017 -58 160 -614 -3 259 352 -220 -567 180 -641 122 736 -906 313 233 -1210 291 251 274 23 -667 271 600 -49 -751 -988 50 -28 -312 156 57 348 -352 577 667 -145 700 207 -897 -377 142 -348 46 54 390 187 601 740 -109 644 -162 128 -28 4 -92 32 -24 -20 413 -941 172 -418 557 -418 -172 557 -160 84 -20 17 7 1 64 -221 321 -852 26 22 -2 22 -26 -2 175 286 -911 267 418 416 -69 673 -773 414 411 149 -864 479 420 425 26 -13 -995 416 418 -107 -770 -582 417 404 829 -105 -557 413 413 -25 37 -1035 414 417 -514 -98 883 419 417 209 -851 647 425 411 -63 34 -999 414 411 436 34 900 413 414 73 -970 202 416 415 0 0 0 0 0 0 0 0 0 0 0 0 0 1000 -63 19 -244 3 -960 -997 25 10 -1006 -61 -20 NaN NaN NaN 42 -86 -992 30 42 -1077 -984 42 -1023 5766 2683 1266 5986 2711 1192 6296 2664 1530 5789 2912 1440 0 0 0 0 0 0 0

133 119 946 -426 -22 1026 188 98 1001 92 548 929 345 191 991 189 70 961 -344 231 968 -20 -368 710 494 -284 1102 135 -369 893 301 -158 958 340 NaN NaN NaN -966 -199 104 -85 -1 116 478 -507 32 610 -478 456 437 -999 -107 157 -633 -28 229 351 -212 -572 171 -642 116 738 -917 302 240 -1020 287 202 279 42 -659 281 599 -36 -749 -967 45 -38 -272 154 63 345 -357 575 665 -149 701 210 -877 -398 153 -329 76 100 389 179 605 739 -112 645 -158 129 -28 4 -255 -101 11 195 400 -928 241 -364 328 -364 -241 328 -166 83 -20 17 0 1 67 -213 321 -850 22 45 -7 45 -22 -7 175 290 -907 273 417 415 -62 684 -787 414 411 129 -846 477 420 428 36 -9 -1014 415 419 -117 -773 -579 416 402 829 -133 -547 413 414 -46 36 -1033 416 417 -495 -99 867 418 416 196 -870 652 424 411 -55 31 -986 414 411 440 25 909 412 414 85 -958 207 416 415 0 0 0 0 0 0 0 0 0 0 0 0 0 1000 -63 9 -244 6 -970 -983 19 -10 -1009 -64 -26 NaN NaN NaN 39 -86 -1006 31 49 -1076 -1005 26 -1024 5784 2680 1263 6018 2712 1205 6299 2664 1529 5791 2915 1442 0 0 0 0 0 0 0

In [4]:
import pandas as pd

# Load a .dat file into a pandas DataFrame
# Assuming space-separated values (adjust delimiter as needed)
df = pd.read_csv(file_path, delimiter=' ', header=None)

# Check the first few rows of the DataFrame
print(df.head())

import pandas as pd

# Step 1: Load the .dat file (assuming space-separated values)
file_path = '/content/extracted_dataset/OpportunityUCIDataset/dataset/S1-ADL1.dat'
df = pd.read_csv(file_path, delimiter=' ', header=None)

# Step 2: Data exploration
print(df.head())       # Display the first few rows
print(df.info())       # Check for missing values and data types
print(df.describe())   # Summary statistics

# Step 3: Handle missing values (if applicable)
df.fillna(df.mean(), inplace=True)

# Step 4: Normalize the data (if sensor data)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Assuming sensor data in columns (adjust column names as necessary)
sensor_columns = df.columns
df[sensor_columns] = scaler.fit_transform(df[sensor_columns])

# Step 5: Save the preprocessed data
df.to_csv('preprocessed_file.csv', index=False)

   0      1      2      3     4       5      6      7       8      9    ...  \
0    0   87.0  975.0 -287.0  11.0  1001.0  163.0   95.0   975.0  152.0  ...
1   33  124.0  978.0 -389.0  -7.0  1014.0  199.0  124.0   968.0  123.0  ...
2   67  102.0  996.0 -440.0 -49.0  1024.0  193.0  127.0  1001.0  113.0  ...
3  100   59.0  861.0 -384.0  -9.0  1023.0  202.0  110.0  1007.0  106.0  ...
4  133  119.0  946.0 -426.0 -22.0  1026.0  188.0   98.0  1001.0   92.0  ...

      240     241     242  243  244  245  246  247  248  249
0  5789.0  2907.0  1447.0    0    0    0    0    0    0    0
1  5789.0  2908.0  1443.0    0    0    0    0    0    0    0
2  5789.0  2910.0  1440.0    0    0    0    0    0    0    0
3  5789.0  2912.0  1440.0    0    0    0    0    0    0    0
4  5791.0  2915.0  1442.0    0    0    0    0    0    0    0

[5 rows x 250 columns]
   0      1      2      3     4       5      6      7       8      9    ...  \
0    0   87.0  975.0 -287.0  11.0  1001.0  163.0   95.0   975.0  152.0  ...
1   33  124.0  978.0 -389.0  -7.0  1014.0  199.0  124.0   968.0  123.0  ...
2   67  102.0  996.0 -440.0 -49.0  1024.0  193.0  127.0  1001.0  113.0  ...
3  100   59.0  861.0 -384.0  -9.0  1023.0  202.0  110.0  1007.0  106.0  ...
4  133  119.0  946.0 -426.0 -22.0  1026.0  188.0   98.0  1001.0   92.0  ...

      240     241     242  243  244  245  246  247  248  249
0  5789.0  2907.0  1447.0    0    0    0    0    0    0    0
1  5789.0  2908.0  1443.0    0    0    0    0    0    0    0
2  5789.0  2910.0  1440.0    0    0    0    0    0    0    0
3  5789.0  2912.0  1440.0    0    0    0    0    0    0    0
4  5791.0  2915.0  1442.0    0    0    0    0    0    0    0

[5 rows x 250 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51116 entries, 0 to 51115
Columns: 250 entries, 0 to 249
dtypes: float64(229), int64(21)
memory usage: 97.5 MB
None
                0             1             2             3             4    \
count  5.111600e+04  50205.000000  50205.000000  50205.000000  50650.000000
mean   8.519081e+05    -16.378508    744.377930    226.679215   -159.489556
std    4.918638e+05    393.141918    432.372466    631.169189    198.712459
min    0.000000e+00  -3955.000000  -4288.000000  -6519.000000  -1330.000000
25%    4.259538e+05   -147.000000    526.000000   -360.000000   -266.000000
50%    8.519080e+05    -31.000000    916.000000    312.000000   -104.000000
75%    1.277862e+06     68.000000    980.000000    614.000000    -26.000000
max    1.703816e+06   5054.000000   4566.000000   4319.000000   1176.000000

                5             6             7             8             9    \
count  50650.000000  50650.000000  50469.000000  50469.000000  50469.000000
mean     949.061244    188.431728     63.149438    916.928035    124.930551
std      191.898143    191.621742    312.907223    214.905069    241.737773
min     -236.000000   -749.000000  -1671.000000   -600.000000  -1440.000000
25%      931.000000     91.000000    -81.000000    874.000000     -1.000000
50%      984.000000    176.000000    105.000000    969.000000     92.000000
75%     1011.000000    268.000000    238.000000   1009.000000    221.000000
max     2542.000000   1353.000000   1865.000000   1867.000000   1669.000000

       ...           240           241           242           243  \
count  ...  50707.000000  50707.000000  50707.000000  51116.000000
mean   ...   5721.911511   1888.777407   1379.004358      1.387628
std    ...   1520.398935    888.146625    334.014144      1.381984
min    ...      0.000000      0.000000   -395.000000      0.000000
25%    ...   4391.000000   1329.000000   1168.000000      0.000000
50%    ...   5700.000000   1874.000000   1384.000000      1.000000
75%    ...   6850.000000   2502.000000   1565.000000      2.000000
max    ...   9462.000000   5752.000000   3116.000000      5.000000

                244           245           246           247           248  \
count  51116.000000  51116.000000  51116.000000  51116.000000  51116.000000
mean      71.910654     14.953146     22.118613     88.730926    110.729087
std       47.639173     54.044665     79.946670    168.784269    210.642642
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%      103.000000      0.000000      0.000000      0.000000      0.000000
75%      104.000000      0.000000      0.000000      0.000000      0.000000
max      105.000000    213.000000    323.000000    413.000000    522.000000

                 249
count   51116.000000
mean    38488.931665
std    118959.612172
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max    408512.000000

[8 rows x 250 columns]