<a href="https://colab.research.google.com/github/Balajinanda/Datascience-Project/blob/main/Data_Science_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

# Mount Google Drive to access files
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import zipfile
import os

# Define the path to the uploaded zip file and extraction directory
zip_file_path = '/content/drive/MyDrive/Dataset/opportunity+activity+recognition.zip'
extract_dir = '/content/drive/MyDrive/Dataset/OpportunityUCIDataset/OpportunityUCIDataset/dataset'

# Extract the zip file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extract_dir)

# List the extracted files
extracted_files = os.listdir(extract_dir)
extracted_files

['column_names.txt',
 'label_legend.txt',
 'S1-ADL1.dat',
 'S1-ADL2.dat',
 'S1-ADL3.dat',
 'S1-ADL4.dat',
 'S1-ADL5.dat',
 'S1-Drill.dat',
 'S2-ADL1.dat',
 'S2-ADL2.dat',
 'S2-ADL3.dat',
 'S2-ADL4.dat',
 'S2-ADL5.dat',
 'S2-Drill.dat',
 'S3-ADL2.dat',
 'S3-ADL1.dat',
 'S3-ADL3.dat',
 'S3-ADL4.dat',
 'S3-ADL5.dat',
 'S3-Drill.dat',
 'S4-ADL1.dat',
 'S4-ADL2.dat',
 'S4-ADL3.dat',
 'S4-ADL4.dat',
 'S4-ADL5.dat',
 'S4-Drill.dat',
 'OpportunityUCIDataset']

In [6]:
# List the contents of the extracted directory to explore its structure
opportunity_dataset_path = os.path.join(extract_dir, 'OpportunityUCIDataset')
dataset_contents = os.listdir(opportunity_dataset_path)
dataset_contents

['dataset', 'doc', 'README', 'scripts']

In [7]:
# List the contents of the 'dataset' folder
dataset_folder_path = os.path.join(opportunity_dataset_path, 'dataset')
dataset_files = os.listdir(dataset_folder_path)
dataset_files

['column_names.txt',
 'label_legend.txt',
 'S1-ADL1.dat',
 'S1-ADL2.dat',
 'S1-ADL3.dat',
 'S1-ADL4.dat',
 'S1-ADL5.dat',
 'S1-Drill.dat',
 'S2-ADL1.dat',
 'S2-ADL2.dat',
 'S2-ADL3.dat',
 'S2-ADL4.dat',
 'S2-ADL5.dat',
 'S2-Drill.dat',
 'S3-ADL1.dat',
 'S3-ADL2.dat',
 'S3-ADL3.dat',
 'S3-ADL4.dat',
 'S3-ADL5.dat',
 'S3-Drill.dat',
 'S4-ADL1.dat',
 'S4-ADL2.dat',
 'S4-ADL3.dat',
 'S4-ADL4.dat',
 'S4-ADL5.dat',
 'S4-Drill.dat']

In [8]:
# Load and inspect the column names and label legend files to understand the dataset structure
column_names_path = os.path.join(dataset_folder_path, 'column_names.txt')
label_legend_path = os.path.join(dataset_folder_path, 'label_legend.txt')

# Read the files
with open(column_names_path, 'r') as col_file:
    column_names = col_file.readlines()

with open(label_legend_path, 'r') as label_file:
    label_legend = label_file.readlines()

# Display the first few lines of each file for inspection
column_names[:10], label_legend[:10]

(['Data columns:\n',
  '\n',
  'Column: 1 MILLISEC\n',
  'Column: 2 Accelerometer RKN^ accX; value = round(original_value), unit = milli g\n',
  'Column: 3 Accelerometer RKN^ accY; value = round(original_value), unit = milli g\n',
  'Column: 4 Accelerometer RKN^ accZ; value = round(original_value), unit = milli g\n',
  'Column: 5 Accelerometer HIP accX; value = round(original_value), unit = milli g\n',
  'Column: 6 Accelerometer HIP accY; value = round(original_value), unit = milli g\n',
  'Column: 7 Accelerometer HIP accZ; value = round(original_value), unit = milli g\n',
  'Column: 8 Accelerometer LUA^ accX; value = round(original_value), unit = milli g\n'],
 ['Unique index   -   Track name   -   Label name\n',
  '\n',
  '1   -   Locomotion   -   Stand\n',
  '2   -   Locomotion   -   Walk\n',
  '4   -   Locomotion   -   Sit\n',
  '5   -   Locomotion   -   Lie\n',
  '101   -   HL_Activity   -   Relaxing\n',
  '102   -   HL_Activity   -   Coffee time\n',
  '103   -   HL_Activity   -   Early morning\n',
  '104   -   HL_Activity   -   Cleanup\n'])

In [10]:
# Re-import necessary libraries
import pandas as pd
import os

# Re-load the specific data file, e.g., 'S1-ADL1.dat'
specific_file_path = os.path.join(dataset_folder_path, 'S1-ADL1.dat')

# Read the data file into a DataFrame
data = pd.read_csv(specific_file_path, delim_whitespace=True, header=None)

# Display the first few rows and the structure of the dataset
data.head()

<ipython-input-10-90ca45097983>:9: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data = pd.read_csv(specific_file_path, delim_whitespace=True, header=None)

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
0,0,87.0,975.0,-287.0,11.0,1001.0,163.0,95.0,975.0,152.0,...,5789.0,2907.0,1447.0,0,0,0,0,0,0,0
1,33,124.0,978.0,-389.0,-7.0,1014.0,199.0,124.0,968.0,123.0,...,5789.0,2908.0,1443.0,0,0,0,0,0,0,0
2,67,102.0,996.0,-440.0,-49.0,1024.0,193.0,127.0,1001.0,113.0,...,5789.0,2910.0,1440.0,0,0,0,0,0,0,0
3,100,59.0,861.0,-384.0,-9.0,1023.0,202.0,110.0,1007.0,106.0,...,5789.0,2912.0,1440.0,0,0,0,0,0,0,0
4,133,119.0,946.0,-426.0,-22.0,1026.0,188.0,98.0,1001.0,92.0,...,5791.0,2915.0,1442.0,0,0,0,0,0,0,0

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51116 entries, 0 to 51115
Columns: 250 entries, 0 to 249
dtypes: float64(229), int64(21)
memory usage: 97.5 MB

In [14]:
# Check for missing values in the dataset
missing_values = data.isnull().sum()

# Calculate the percentage of missing values for each column
missing_percentage = (missing_values / len(data)) * 100

# Identify columns with missing values and their percentages
missing_summary = missing_percentage[missing_percentage > 0]

# Display columns with missing values and their percentages
missing_summary.sort_values(ascending=False)

36     99.998044
35     99.998044
34     99.998044
219    99.998044
220    99.998044
         ...
130     0.054777
131     0.054777
132     0.054777
133     0.054777
115     0.054777
Length: 229, dtype: float64

In [15]:
# Step 1: Remove columns with excessive missing values (> 50%)
threshold = 50.0  # Percentage threshold for missing data
columns_to_keep = missing_percentage[missing_percentage <= threshold].index
data_cleaned = data.loc[:, columns_to_keep]

# Step 2: Impute missing values in the remaining columns with their mean
data_cleaned = data_cleaned.fillna(data_cleaned.mean())

# Step 3: Verify the updated dataset
updated_missing_values = data_cleaned.isnull().sum().sum()  # Total missing values after imputation

# Display results
data_cleaned.info(), f"Total missing values after preprocessing: {updated_missing_values}"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51116 entries, 0 to 51115
Columns: 244 entries, 0 to 249
dtypes: float64(223), int64(21)
memory usage: 95.2 MB

(None, 'Total missing values after preprocessing: 0')